.greetings-hello{
    text-align: center;
    margin: 200px 450px;
    width: 50%;
    background: skyblue;
    border: 5px solid black;
    border-radius: 5px;
}

.display{
    border: 5px solid black;
    background: black;
    color: white;
    font-size: 3.5rem;
}

button{
    font-size: xx-large;
}