
.greeter-computer{
    text-align: center;
    margin: 200px auto;
    width: 25%;
    background: beige;
    border: 5px solid black;
    border-radius: 5px;
}

#greeter-display{
    border: 5px solid black;
    background: black;
    color: white;
    font-size: 3.5rem;
    height: 90px;
    padding: 20px;
}

.greeter-buttons{
    margin: 0;
}

button{
    font-size: 2rem;
    border-radius: .5rem;
    display: inline-flex;
    width: 30%;
    text-align: justify;
}

.hey{
    background: chocolate;
    color: white;
}

#fname{
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin: auto;
}

#submit {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    width: 90%
}

@media (max-width: 804px) {
    .greeter-computer{
        margin: 200px auto;
    }

    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 652px) {
    .greeter-computer{
        margin: 200px auto;
    }

    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 360px) {
    .greeter-computer{
        margin: 200px auto;
        width: 90%;
    }

    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 411px) {
    .greeter-computer{
        margin: 200px auto;
        width: 90%;
    }
    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 414px) {
    .greeter-computer{
        margin: 200px auto;
        width: 90%;
    }
    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 1024px) {
    .greeter-computer{
        margin: 200px auto;
        width: 30%;
    }
    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}
@media (max-width: 280px) {
    .greeter-computer{
        margin: 200px auto;
        width: 90%;
    }
    #greeter-display{
        font-size: 2rem;
        padding-top: auto;
        height: 50px;
    }

    button{
        font-size: 1rem;
        border-radius: .5rem;
    }
    
}