
.greeter-computer{
    text-align: center;
    margin: 200px 450px;
    width: 50%;
    background: beige;
    border: 5px solid black;
    border-radius: 5px;
}

#greeter-display{
    border: 5px solid black;
    background: black;
    color: white;
    font-size: 3.5rem;
    height: 90px;
    padding: 20px;
}

.greeter-buttons{
    border: 10px solid pink;
}

button{
    font-size: 3rem;
    border-radius: 1rem;
    margin: 1%;
}

#fname{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
}

#submit {
    display: block;
    margin: auto;
    font-size: 1.5rem;
}

@media (max-width: 652px) {
    .greeter-computer{
        margin: 200px 150px;
    }

    #greeter-display{
        font-size: 2rem;
        padding-top: 50px;
    }

    button{
        font-size: 2rem;
        border-radius: 1rem;
    }
    
}